/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

p { margin: 0 0 1em; }

a,
a:visited { color: #A52A2A; text-decoration: none; }
a:hover   { color: #f00; }

ul { padding: 0 0 0 1.15em; margin: 0 0 1em; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: .8em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.content {
  font-size: 1.125em;
  text-align: justify;
  max-width: 38em;
  margin: 0 auto;
  padding: 1em;
  line-height: 1.5em;
}

.header {
  border-bottom: .5em solid #eee;
  margin:0;
  padding: 0;
  width: 100%;
  font-weight: bold;
}

  .header div.container {
    max-width: 43em;
    padding: 1em;
    margin: 0 auto;
    text-align: left;
  }

  .header h1.title {
    display: inline-block;
    line-height: 1em;
  }

    .header h1.title a { color: #a00; }

    .header h1.title a:hover { color: #000; }

  .header a.extra {
    color: #600;
    display: inline-block;
    margin: 0 0 0 1em;
  }

  .header a.extra:hover { color: #000; }

.event-tile {
  border-left: .25em solid #a52a2a;
  line-height: 1.2;
  margin: 1em .75em;
  padding: 0 1em;
}
  .event-tile .event-title {
    color: #A52A2A;
    font-weight: normal;
    margin: 0;
    padding-top: .125em;
  }
  .event-tile p {
    margin: .25em 0;
  }

.footer {
  color: #666;
  border-top: .5em solid #eee;
  margin: 0;
  width: 100%;
}
  .footer div.container {
    max-width: 43em;
    margin: 0 auto;
    padding: 1em;
  }

  .footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
  }

  .footer .rss img {
    border: 0;
  }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

h1, h2, h3 {
  margin-bottom: 10px;
}
